<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PDE5A Calculator</title>
    <link href="{{ url_for('static', filename='master.css') }}" type="text/css" rel="stylesheet">
  </head>
  <body>
  {% block content %}
  {% endblock %}     
<div>  
<footer>
    <p>LAQV/REQUIMTE, University of Porto, Portugal</p>
    <p>Developed: Dr. Amit Kumar Halder</p>
    <p><a href="mailto:amit.halder@fc.up.pt">amit.halder@fc.up.pt</a></p>
</footer>
</div>
</html>